body {
    margin: 2em auto;
    text-align: center;
    font-family: Montserrat, serif;
}

hr {
    margin: 2em 0 4em;
    border: 1px solid #cccccc;
}

input[type = submit] {
    border: none;
    padding: 1em 2em;
    cursor: pointer;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    display: inline;
}

ul li {
    margin-right: 1em;
}

ul li:last-child {
    margin-right: 0;
}
