@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src:
        local('Montserrat'),
        url('/fonts/montserrat.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src:
        local('Montserrat Bold'),
        url('/fonts/montserrat-bold.otf');
}

body {
    margin: 2em auto;
    text-align: center;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

h1 {
    font-weight: bold;
}

p {
    width: 50%;
    margin: 1em auto;
    max-width: 600px;
}

@media all and (max-width: 600px) {
    p {
        width: 80%;
    }
}

@media all and (max-width: 300px) {
    p {
        width: 100%;
    }
}

hr {
    margin: 2em auto 4em;
    border: 1px solid #cccccc;
    width: 5em;
}

input[type = submit] {
    border: none;
    padding: 1em 2em;
    cursor: pointer;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    display: inline;
}

ul li {
    margin-right: 1em;
}

ul li:last-child {
    margin-right: 0;
}

footer {
    font-size: small;
}

code {
    font-size: 120%;
}

@media print {
    .controls, footer {
        display: none;
    }
}
