$track-width: 20em;

label {
    display: block;
    margin-bottom: 1em;
    font-weight: 600;
    text-align: center;
}

datalist {
    display: block;
    position: relative;
    height: 0;
}

datalist option {
    color: black;
    font-size: small;
    display: inline-block;
    position: relative;
    margin: 0 ($track-width / 2);
    width: 15em;
}

datalist option:nth-child(1) {
    text-align: right;
    margin-left: 0;
}

datalist option:nth-child(2) {
    text-align: left;
    margin-right: 0;
}

@media all and (max-width: 675px) {
    label {
        margin-bottom: 0.5em;
    }

    datalist {
        display: block;
        position: initial;
        margin-bottom: 1em;
    }

    datalist option {
        color: black;
        font-size: small;
        display: block;
        position: initial;
        margin-bottom: 0.75em;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    datalist option:nth-child(1)::before,
    datalist option:nth-child(2)::before {
        font-style: normal;
    }

    datalist option:nth-child(1)::before { content: 'from '; }
    datalist option:nth-child(2)::before { content: 'to '; }

    datalist option:nth-child(1),
    datalist option:nth-child(2) {
        text-align: center;
        font-style: italic;
    }
}

.axis {
    border: none;
    text-align: center;
    margin: 0 auto;
}

$track-height: 27.1px;
$track-box-shadow: none;
$track-border: 0.5px solid #562425;
$track-border-radius: 0;

input[type = range] {
    width: $track-width;
    margin-bottom: 3em;
    -webkit-appearance: none;
}

input[type = range]:focus {
    outline: none;
}

input[type = range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $track-height;
    cursor: pointer;
    box-shadow: $track-box-shadow;
    border-radius: $track-border-radius;
    border: $track-border;
}

input[type = range]::-moz-range-track {
    width: 100%;
    height: $track-height;
    cursor: pointer;
    box-shadow: $track-box-shadow;
    border-radius: $track-border-radius;
    border: $track-border;
}

input[type = range]::-ms-track {
    width: 100%;
    height: $track-height;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type = range]::-ms-fill-lower {
    background: #84b273;
    border: 0.5px solid #562425;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type = range]::-ms-fill-upper {
    background: #92bb83;
    border: 0.5px solid #562425;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

$thumb-width: 5px;
$thumb-height: 35px;
$thumb-box-shadow: none;
$thumb-border: none;
$thumb-border-radius: 0;
$thumb-background: #000000;

input[type = range]::-webkit-slider-thumb {
    box-shadow: $thumb-box-shadow;
    border: $thumb-border;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $thumb-border-radius;
    background: $thumb-background;
    cursor: pointer;
    margin-top: -4.45px;
    -webkit-appearance: none;
}

input[type = range]::-moz-range-thumb {
    box-shadow: $thumb-box-shadow;
    border: $thumb-border;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $thumb-border-radius;
    background: $thumb-background;
    cursor: pointer;
    margin-top: -4.45px;
}

input[type = range]::-ms-thumb {
    box-shadow: $thumb-box-shadow;
    border: $thumb-border;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $thumb-border-radius;
    background: $thumb-background;
    cursor: pointer;
    height: $track-height;
}
